<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @offer.user_id %>
</p>

<p>
  <b>Dish:</b>
  <%= @offer.dish_id %>
</p>

<p>
  <b>Beginning time:</b>
  <%= @offer.beginning_time %>
</p>

<p>
  <b>Ending time:</b>
  <%= @offer.ending_time %>
</p>

<p>
  <b>Limits:</b>
  <%= @offer.limits %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
